.mmi{
    text-align: center;
   
    /* transform: translate(100%, 30px);

  background-color: white;
  */
  /* Offset-x | Offset-y | Blur-radius | Spread-radius | Color */
box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);

}
.z1{
  margin-top: 50px;
  margin-bottom: 50px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  width: 90%;
  height: 500px;
  text-align: center;
background-color: white;
transform: translate(5%, 30px)
}
.c1{
  text-align: start;
  box-shadow: 10px 10px 5px 0px rgba(249, 247, 247, 0.75);

}
.t1{
  color: black;

}
.ms{
  text-align: start;
  margin-top: 10px;
}