@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat:wght@500&family=Dela+Gothic+One&family=Kanit:wght@700&family=Oswald:wght@200&family=Roboto+Condensed:wght@500&family=Roboto:wght@300;900&display=swap');



.j1{
    font-family: 'Bebas Neue', sans-serif;
font-family: 'Caveat', cursive;
font-family: 'Dela Gothic One', sans-serif;
font-family: 'Kanit', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
text-align: center;
}
.mm1{
    width: 270px;
    height: 250px;
}